html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ededed;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/* STYLING FOR CHART */
.chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

canvas {
  height: 40vh !important;
  padding: 0 20px;
}

/* STYLING FOR TOP 3 CONTAINERS */
.card {
  background-color: #fff;
  width: 47%;
}

/* STYLING FOR RESPONSE LIST */
.response-card {
  background-color: #fff;
  width: 20%;
  padding: 10px;
}

/* FLEX BOX STYLING */

.flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

/* STYLING FOR ICONS */
.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* UTILITY STYLING CLASSES */
.w-40 {
  width: 40%;
}

.full-width {
  width: 100vw;
}

.w-33 {
  width: 33%;
}

.h-60 {
  height: 60%;
}

.m-top-20 {
  margin-top: 20px;
}

.m-10 {
  margin: 10px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.b-radius-4 {
  border-radius: 4px;
}

.border-top-solid {
  border-top: #000 solid 1px;
}
